In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df= pd.read_csv(r"C:\Users\rujha\Downloads\PNR Remark Level Data.csv")
print(df.head()) 
df.describe().round(2)

  record_locator pnr_creation_date  flight_number special_service_request
0     PNR_153489        04-07-2025            308      Airport Wheelchair
1     PNR_153489        04-07-2025           2182      Airport Wheelchair
2     PNR_153508        10-07-2025           2649      Airport Wheelchair
3     PNR_153508        10-07-2025           2100      Airport Wheelchair
4     PNR_153521        01-03-2025            970     Unaccompanied Minor

       flight_number
count       51698.00
mean         2577.23
std          2047.59
min             0.00
25%          1006.00
50%          1992.00
75%          4168.00
max          9998.00

In [5]:
df.isnull().sum() # No Null value found

record_locator             0
pnr_creation_date          0
flight_number              0
special_service_request    0
dtype: int64

In [6]:
df.duplicated().sum() # No duplicates found

np.int64(0)

In [12]:
df['pnr_creation_date'] = pd.to_datetime(df['pnr_creation_date'], format='%d-%m-%Y')

df['record_locator'] = df['record_locator'].str.replace('PNR_', '', regex=False)

df['record_locator'] = pd.to_numeric(df['record_locator'])

In [13]:
df.to_csv('pnr_remark_cleaned.csv')